    body{
        background:#eee   
    }
    .email-app {
        display: flex;
        flex-direction: row;
        background: #fff;
        /* border: 1px solid #e1e6ef; */
    }
    
    .email-app nav {
        flex: 0 0 200px;
        padding: 1rem;
        border-right: 1px solid #e1e6ef;
    }
    
    .email-app nav .btn-block {
        margin-bottom: 15px;
    }
    
    .email-app nav .nav {
        flex-direction: column;
    }
    
    .email-app nav .nav .nav-item {
        position: relative;
    }
    
    .email-app nav .nav .nav-item .nav-link,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle {
        color: #151b1e;
        border: none;
        background-color: #fff;
        border-bottom: 1px solid #e1e6ef;
        
    }
    
    .email-app nav .nav .nav-item .nav-link i,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle i,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle i {
        width: 20px;
        margin: 0 10px 0 0;
        font-size: 14px;
        text-align: center;
    }
    
    .email-app nav .nav .nav-item .nav-link .badge,
    .email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
    .navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
        float: right;
        margin-top: 4px;
        margin-left: 10px;
    }
    
    .email-app main {
        min-width: 0;
        flex: 1;
        padding: 1rem;
    }
    
    .email-app .inbox .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .inbox .messages {
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    
    .email-app .inbox .message {
        position: relative;
        padding: 1rem 1rem 1rem 2rem;
        cursor: pointer;
        border-bottom: 1px solid #e1e6ef;
    
    }
    
    .email-app .inbox .message:hover {
        background: #f9f9fa;
    }
    
    .email-app .inbox .message .actions {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .email-app .inbox .message .actions .action {
        width: 2rem;
        margin-bottom: 0.5rem;
        color: #c0cadd;
        text-align: center;
    }
    
    .email-app .inbox .message a {
        color: #000;
        text-decoration: none;
    }
    
    .email-app .inbox .message a:hover {
        text-decoration: none;
    }
    
    .email-app .inbox .message.unread .header,
    .email-app .inbox .message.unread .title {
        font-weight: bold;
    }
    
    .email-app .inbox .message .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
    
    .email-app .inbox .message .header .date {
        margin-left: auto;
    }
    
    .email-app .inbox .message .title {
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .email-app .inbox .message .description {
        font-size: 12px;
    }
    
    .email-app .message .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .message .details .title {
        padding: 1rem 0;
        font-weight: bold;
    }
    
    .email-app .message .details .header {
        display: flex;
        padding: 1rem 0;
        margin: 1rem 0;
        border-top: 1px solid #e1e6ef;
        border-bottom: 1px solid #e1e6ef;
    }
    
    .email-app .message .details .header .avatar {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }
    
    .email-app .message .details .header .from {
        font-size: 12px;
        color: #9faecb;
        align-self: center;
    }
    
    .email-app .message .details .header .from span {
        display: block;
        font-weight: bold;
    }
    
    .email-app .message .details .header .date {
        margin-left: auto;
    }
    
    .email-app .message .details .attachments {
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-top: 3px solid #f9f9fa;
        border-bottom: 3px solid #f9f9fa;
    }
    
    .email-app .message .details .attachments .attachment {
        display: flex;
        margin: 0.5rem 0;
        font-size: 12px;
        align-self: center;
    }
    
    .email-app .message .details .attachments .attachment .badge {
        margin: 0 0.5rem;
        line-height: inherit;
    }
    
    .email-app .message .details .attachments .attachment .menu {
        margin-left: auto;
    }
    
    .email-app .message .details .attachments .attachment .menu a {
        padding: 0 0.5rem;
        font-size: 14px;
        color: #e1e6ef;
    }
    
    @media (max-width: 767px) {
        .email-app {
            flex-direction: column;
        }
        .email-app nav {
            flex: 0 0 100%;
        }
    }
    
    @media (max-width: 575px) {
        .email-app .message .header {
            flex-flow: row wrap;
        }
        .email-app .message .header .date {
            flex: 0 0 100%;
        }
    }
    .open-button {
        padding: 10px;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 60px;
        right: 28px;
        width: 150px;
        border-color: green;
        border-radius: 10px;
        transition: 0.3s;
      }
   
      
      .open-button2 {
        z-index: 2;
        padding: 10px;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 60px;
        left: 28px;
        width: 150px;
        border-color: green;
        border-radius: 10px;
        transition: 0.3s;
      }
   


      /* The popup chat - hidden by default */
      .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 500px;
        padding: 10px;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0px 0px 7px rgb(68, 68, 68);
      }
      
      /* Full-width textarea */
      .form-container textarea {
        width: 100%;
        padding: 10px 7px;
        margin: 5px 0 30px 0;
        border: none;
        resize: none;
        min-height: 100px;
        /* box-shadow: 0px 0px 5px rgb(88, 88, 88); */
      }
      
      /* When the textarea gets focus, do something */
      .form-container textarea:focus, .form-container .fill-text:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/send button */
      .form-container .btn {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-bottom:10px;
        opacity: 0.9;
        transition: .6s;

      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
        box-shadow: 0px 0px 5px rgb(34, 34, 34);
      }




















     
      .sidenav {
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 3; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #212529; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }
      
      /* The navigation menu links */
      .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidenav .closebtn {
        position: absolute;
        top: 60px;
        z-index: 100;
        right: 50px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s;
        margin-left: 250px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }











      
      